<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/icon/estrella.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title class="titulo">Juegos Populares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card class="card">
    <a href="https://www.youtube.com/watch?v=e_E9W2vsRbQ&ab_channel=VALORANT" target="_blank"><ion-img src="/assets/img/valorant.jpeg" ></ion-img></a>
    <ion-card-header>
      <ion-card-subtitle>El nuevo Video Juego de Riot Games</ion-card-subtitle>
      <ion-card-title class="titulo">Valorant</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      VALORANT es un shooter competitivo con personajes de Riot Games. Disponible globalmente. Compite contra jugadores de todo el mundo y gánate tu rango. Antitrampas. Competitivo. Habilidades. Juego en equipo. 5v5. Baja latencia. Alta letalidad. Gratuito.
    </ion-card-content>
    
  </ion-card>

  <ion-card class="card">
    <a href="https://www.youtube.com/watch?v=hQ1UE5h9N-k&ab_channel=LuisNu%C3%B1ezJr11." target="_blank"><ion-img src="/assets/img/lol.jpg" ></ion-img></a>
    <ion-card-header>
      <ion-card-subtitle>Riot Games</ion-card-subtitle>
      <ion-card-title class="titulo">League of Legends </ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      League of Legends es un video juego de estrategias por equipos 5 vs 5 donde se enfrentan en tres líneas, cuenta con más de 140 campeones, cada uno con habilidades y aspectos distintos. Crea tu estrategia para poder derrotar al equipo enemigo, romper su nexo y llevarte la ansiada victoria.    
    </ion-card-content>
    
  </ion-card>

  <ion-card class="card">
    <a href="https://www.youtube.com/watch?v=6UBMHx_Oc5I&ab_channel=FortniteES" target="_blank"><ion-img src="/assets/img/fortnite.jpg" ></ion-img></a>
    <ion-card-header>
      <ion-card-subtitle>Epic Games</ion-card-subtitle>
      <ion-card-title class="titulo">Fortnite</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido">
      Fortnite es un battle royale donde caes en una isla solo, o hasta con cuatro personas, donde con su gran variedad de skins, armas para matar al rival, o sus construcciones para protegerte ante las balas enemigas, te enfrentas con 100 jugadores a la vez, donde el que logre vencer a todos y ser el último sobreviviente será el que consiga la preciada Victoria Magistral    </ion-card-content>
  
  </ion-card>




</ion-content>

